<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<p>URL Format : http://127.0.0.1:5000/product</p>
    <div class="product">
        <h2>Product 1 = carlsberg</h2>
        <p>Description = Carlsberg smooth, a premium mild beer crafted with the finest european barley for a rich and smooth taste. Brewed specially for the indian palate with a refreshing and elegant taste, carlsberg smooth offers a unique product and a new experience to our consumers. Not exceeding 5% alcohol by volume.</p>
        <p>price = 220 - 750 RS </p>
    </div>

    <div class="product">
        <h2>Product 2 = coco cola</h2>
        <p>Description =  Apart from the classic Coca-Cola, the Coca-Cola Company manufactures and distributes a variety of beverages, including Diet Coke, Coca-Cola Zero Sugar, Sprite, Fanta, and many others. They also offer various non-carbonated drinks like bottled water, juices, and teas.</p>
        <p>Price = 20 - 180 RS</p>
    </div>

    <div class="product">
        <h2>Product 3 = HMT watch</h2>
        <p>Description = HMT Watches have become collectible items for enthusiasts who appreciate the nostalgia associated with these timepieces. Vintage HMT watches are often sought after by collectors and watch aficionados.</p>
        <p>Price = 1200 - 18000 RS</p>
    </div>

    <div class="product">
        <h2>Product 4 = HP </h2>
        <p>Description = HP has been making efforts towards sustainability and environmental responsibility, incorporating eco-friendly materials and practices in their laptop manufacturing processes.</p>
        <p>Price = 13000 - 48 lakh RS </p>
    </div>

    <div class="product">
        <h2>Product 5 =  Samsung </h2>
        <p>Description = : Samsung Electronics is the most well-known subsidiary of the Samsung Group. It is a leading manufacturer of consumer electronics, including smartphones, tablets, televisions, refrigerators, washing machines, and other home appliances. </p>
        <p>Price = 1200 - 1.2 lakh RS</p>
    </div>

</body>
</html>